html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: whitesmoke;
    font-family: 'Calibri';
}

a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: orange;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

.neongreen {
  color: rgb(8, 187, 62);
}

.mediumtext {
  font-size: 28px;
}

.largetext {
  font-size: 40px;
}

table, tr, th, td, caption {
  border: 1px solid #eee;
  font-family:Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  padding:0.5rem
}
